<body>
  <br>
  <a [routerLink]="['/home-page']">
    <div class="pb-4 sm:pb-0">
      <img src="/images/hellokitty.gif" alt="return icon" class="return-icon w-24 h-auto ml-10">
    </div>
  </a>
  <div class="flex flex-col">
    <div class="flex items-center justify-center">
      <img src="/images/Gifs.gif" class="w-40 h-auto">
    </div>
    <div class="flex flex-col items-center justify-center my-8 gap-5">
      <div class="sanrio-gif-list">
        <div class="flex flex-row items-center gap-8 px-5">
          <img src="/images/pochacco/pochacco-8.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-bar.gif" class="w-80 h-auto">
          <img src="/images/pochacco/pochacco-1.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-5.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-7.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochaccodancing.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-9.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-4.gif" class="w-16 h-auto">
          <img src="/images/pochacco/pochacco-10.gif" class="h-14 w-auto">
        </div>
        <div class="flex flex-row items-center gap-8 px-5">
          <img src="/images/badtz-maru/badtz-maru-bar.gif" class="maru-gif-1">
          <img src="/images/badtz-maru/maru_jump_rope.gif" class="w-16 h-auto">
          <img src="/images/badtz-maru/badtz_raygun.gif" class="w-16 h-auto">
          <img src="/images/badtz-maru/badzmaru.gif" class="w-16 h-auto">
          <img src="/images/badtz-maru/badtzanime.gif" class="w-16 h-auto">
          <img src="/images/chococat/chococat-2.gif" class="w-16 h-auto">
          <img src="/images/chococat/chococat-3.gif" class="h-14 w-auto">
          <img src="/images/chococat/chococat-1.gif" class="h-14 w-auto">
        </div>
        <div class="flex flex-row items-center gap-8 px-5">
          <img src="/images/little-twin-stars/little-twin-stars-1.gif" class="w-20 h-auto">
          <img src="/images/little-twin-stars/Littletwinstars8.gif" class="w-20 h-auto">
          <img src="/images/little-twin-stars/little-twin-stars-3.gif" class="w-12 h-auto">
          <img src="/images/little-twin-stars/little-twin-stars-4.gif" class="w-36 h-auto">
          <img src="/images/little-twin-stars/little-twin-stars-6.gif" class="w-24 h-auto">
          <img src="/images/keroppi/keroppi-1.gif" class="w-20 h-auto">
          <img src="/images/keroppi/keroppi-singing.gif" class="w-20 h-auto">
          <img src="/images/keroppi/keroppi-2.gif" class="w-20 h-auto">
          <img src="/images/keroppi/keroppi-3.gif" class="w-36 h-auto">
        </div>
        <div class="flex flex-row items-center gap-6 px-5">
          <img src="/images/sweet-piano/sweet-piano-2.gif" class="w-16 h-auto">
          <img src="/images/sweet-piano/sweet-piano-3.gif" class="w-16 h-auto">
          <img src="/images/sweet-piano/sweet-piano-1.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-umbrella.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-1.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-3.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-2.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-5.gif" class="w-16 h-auto">
          <img src="/images/my-melody/my-melody-4.gif" class="w-16 h-auto">
          <img src="/images/hello-kitty-blue/hello-kitty-blue.gif" class="w-16 h-auto">
          <img src="/images/hello-kitty-blue/hello-kitty-angel-2.gif" class="w-16 h-auto">
          <img src="/images/hello-kitty-blue/hello-kitty-angel.gif" class="w-16 h-auto">
          <img src="/images/hello-kitty-blue/hello-kitty-fairy-2.gif" class="w-16 h-auto">
        </div>
        <div class="flex flex-row items-center gap-8 px-5">
          <img src="/images/pompurin/pompurin-2.gif" class="w-24 h-auto">
          <img src="/images/pompurin/pompurin-5.gif" class="w-24 h-auto">
          <img src="/images/pompurin/pompurin-3.gif" class="w-24 h-auto">
          <img src="/images/pompurin/pompurin.gif" class="w-24 h-auto">
          <img src="/images/pompurin/pompurin-4.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-plants.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/kittysma.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-love.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-face.gif" class="w-24 h-auto">
        </div>
        <div class="flex flex-row items-center gap-8 px-5">
          <img src="/images/hello-kitty/hello-kitty-ty.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-fairy.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-picnic.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-beach.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/sanrio.gif" class="w-20 h-auto">
          <img src="/images/hello-kitty/hello-kitty-videogames.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-blink.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-motorbike.gif" class="w-24 h-auto">
          <img src="/images/hello-kitty/hello-kitty-baby.gif" class="w-24 h-auto">
        </div>
        <div class="flex flex-row items-center gap-6 px-5">
          <img src="/images/hello-kitty/hello-kitty-bugs.gif" class="w-28 h-auto">
          <img src="/images/hello-kitty/hello-kitty-and-bunny.webp" class="w-28 h-auto">
          <img src="/images/melody-and-piano.gif" class="w-28 h-auto">
          <img src="/images/hello-kitty-and-daniel.gif" class="w-28 h-auto">
          <img src="/images/hello-kitty/hello-kitty-wedding.gif" class="w-28 h-auto">
          <img src="/images/hellokittyanddeardaniel.gif" class="w-28 h-auto">
          <img src="/images/hello-kitty-and-mimmy.gif" class="w-28 h-auto">
          <img src="/images/pochacco/pochacco-buhbye.gif" class="w-28 h-auto">
        </div>
      </div>
    </div>
  </div>
</body>
