body {
  background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/blurred-colorful-background-design-template-aa398d0caecf2a940adecdd3c4cc226c_screen.jpg?ts=1684706430');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
