<body>
  <br>
  <a [routerLink]="['/home-page']">
    <div class="pb-4 sm:pb-0">
      <img src="/images/hellokitty.gif" alt="return icon" class="return-icon w-24 h-auto ml-10">
    </div>
  </a>
  <div class="flex flex-col items-center justify-center gap-6">
    <img src="/images/characters.gif" alt="Characters" class="title w-96 h-auto rounded-full p-3">
    <div class="mb-4">
      <table>
        <tbody>
        <tr>
          <th><img src="/images/hello-kitty/kittysma.gif" alt="Hello Kitty" class="w-32 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Hello Kitty</h1>
            <p class="font-cormorant text-xl">Hello Kitty was born in the suburbs of London. She lives with her parents and her twin sister Mimmy who is her best friend. Her hobbies include baking cookies and making new friends. As she always says, "you can never have too many friends!"</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/my-melody/my-melody-2.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">My Melody</h1>
            <p class="font-cormorant text-xl">My Melody was born in the forest of Mariland. Her favorite hobby is baking cookies with her mother, and her favorite food is almond pound cake. She enjoys eating cake with her best friend, a mouse named Flat.</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/little-twin-stars/Littletwinstars8.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Little Twin Stars</h1>
            <p class="font-cormorant text-xl">Kiki and Lala are two twin stars born on Omoiyari Star in the Yume Star-Cloud. They traveled a long way to Earth to learn how to be the best, shiniest stars they can be. Lala is the eldest, loves to draw and write poems, and is a great cook! Kiki is filled with curiosity about everything, which makes him a little cheeky sometimes.</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/sweet-piano/sweet-piano-1.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">My Sweet Piano</h1>
            <p class="font-cormorant text-xl">My Sweet Piano is My Melody's best friend (alongside Hello Kitty). She is a sheep with soft pink fur covering her low ears, a round tail, white skin, and a yellow oval nose.</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/keroppi/keroppi-1.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Keroppi</h1>
            <p class="font-cormorant text-xl">Keroppi lives with his brother, sister, and parents in a big house on the edge of Donut Pond, the largest and bluest pond around. Keroppi's friends share his love of playing games, especially baseball and boomerangs.</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/pochacco/pochaccodancing.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Pochacco</h1>
            <p class="font-cormorant text-xl">Pochacco is a curious little guy who loves going for walks and eating banana ice cream. This sports-minded pup is a great basketball player and a not too shabby soccer goalie too!</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/badtz-maru/maru_jump_rope.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Badtz-Maru</h1>
            <p class="font-cormorant text-xl">Badtz-maru is one mischievous little penguin. He lives with his mother and pinball playing father in Gorgeoustown. Badtz-maru attracts lots of attention as he walks his pet alligator, Pochi. Badtz-maru has dreams of greatness when he grows up, but for now he rolls his eyes at his humorous life in Gorgeoustown.</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/chococat/chococat-2.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Chococat</h1>
            <p class="font-cormorant text-xl">Chococat tends to be a little scatterbrained at times, but he is always up on the latest news, thanks to his ultrasensitive “antenna” whiskers! He takes his name from his chocolate-colored nose. Chococat has fun playing with his friend Cookie-Bau the dog, Nutz the hamster, Jellybean the bunny, and the Duckies!</p>
          </th>
        </tr>
        <tr>
          <th><img src="/images/pompurin/pompurin-3.gif" alt="Hello Kitty" class="w-28 h-auto"></th>
          <th>
            <h1 class="font-zhi-mang-xing text-4xl">Pompompurin</h1>
            <p class="font-cormorant text-xl">This boy golden retriever is unmistakable in his trademark brown beret. He has a laidback demeanor and loves the phrase 'let's go out!' He loves milk, anything soft, and his mama's cream caramel puddings. He has a talent for napping and doing 'purin aerobics', and can make friends with anyone. His dream is to get even bigger.</p>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
