<body>
<br>
<a [routerLink]="['/sanrio-club']">
  <div class="pb-4 sm:pb-0">
    <img src="/images/hellokitty.gif" alt="return icon" class="return-icon w-24 h-auto ml-10">
  </div>
</a>
<br>
<div class="flex flex-col items-center justify-center">
  <div class="bg-pink-100">
    <div class="flex flex-col items-center justify-center">
      <img src="/images/hello-kitty-artist.png" alt="Art Corner logo" >
      <p class="font-cormorant text-3xl font-bold">Find the community's artwork here!!</p>
    </div>
    <div class="flex flex-row items-center justify-center mt-5 gap-10">
      <div class="flex flex-col items-center justify-center">
        <img src="https://i.imgur.com/91EVZ02.png" alt="Keroppi art" class="w-40 h-auto">
        <p class="font-cormorant text-2xl">Allie McKendry</p>
        <p class="font-cormorant text-2xl">10 years old</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="https://i.imgur.com/U0711ZV.png" alt="Keroppi art" class="w-40 h-auto">
        <p class="font-cormorant text-2xl">Grace Kuan</p>
        <p class="font-cormorant text-2xl">12 years old</p>
      </div>
    </div>
    <div class="flex flex-row items-center justify-center mt-5 gap-10">
      <div class="flex flex-col items-center justify-center">
        <img src="https://i.imgur.com/8Pv4hHw.png" alt="Keroppi art" class="w-40 h-auto">
        <p class="font-cormorant text-2xl">Kathy Ferandez</p>
        <p class="font-cormorant text-2xl">10 years old</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="https://i.imgur.com/pNWP7NV.png" alt="Keroppi art" class="w-40 h-auto">
        <p class="font-cormorant text-2xl">Liz Sisler</p>
        <p class="font-cormorant text-2xl">12 years old</p>
      </div>
    </div>
    <br>
    <div class="flex flex-col items-center justify-center">
      <h1 class="font-zhi-mang-xing text-4xl">Would you like to see your artwork on this website?</h1>
      <p class="font-cormorant text-xl">Mail your drawings to us and we might choose your art to display in the Art Corner.</p>
    </div>
    <br>
    <div class="flex flex-col items-center justify-center font-cormorant text-xl">
      <p>Mail to:</p>
      <p>Sanrio, Inc.</p>
      <p>Art Corner</p>
      <p>570 Eccles Avenue</p>
      <p>South San Francisco, CA 94080</p>
    </div>
    <br>
    <div class="flex flex-col items-center justify-center">
      <p class="font-cormorant text-xl font-semibold">Drawings will not be returned.</p>
    </div>
  </div>
</div>
</body>
