<body>
<br>
<a [routerLink]="['/sanrio-club']">
  <div class="pb-4 sm:pb-0">
    <img src="/images/hellokitty.gif" alt="return icon" class="return-icon w-24 h-auto ml-10">
  </div>
</a>
<div class="flex flex-col items-center justify-center">
  <img src="/images/hello-kitty-artist.png" alt="Art Corner logo" >
</div>
<div class="container">
  <h1>🎨 Welcome to the Art Corner! 🎨</h1>
  <p>Find the community's best artwork below!</p>

  <div class="art-container">
    <div class="art-card">
      <img src="https://i.imgur.com/91EVZ02.png" alt="Keroppi art">
      <p><strong>Allie McKendry</strong></p>
      <p>10 years old</p>
    </div>
    <div class="art-card">
      <img src="https://i.imgur.com/U0711ZV.png" alt="Keroppi art">
      <p><strong>Grace Kuan</strong></p>
      <p>12 years old</p>
    </div>
    <div class="art-card">
      <img src="https://i.imgur.com/8Pv4hHw.png" alt="Keroppi art">
      <p><strong>Kathy Fernandez</strong></p>
      <p>10 years old</p>
    </div>
    <div class="art-card">
      <img src="https://i.imgur.com/pNWP7NV.png" alt="Keroppi art">
      <p><strong>Liz Sisler</strong></p>
      <p>12 years old</p>
    </div>
  </div>

  <div class="send-info">
    <h1>📬 Submit Your Artwork!</h1>
    <p>Would you like to see your artwork featured here? Send your drawings to us!</p>
    <p>Mail to:</p>
    <p>Sanrio, Inc.<br>Art Corner<br>570 Eccles Avenue<br>South San Francisco, CA 94080</p>
    <p><em>Note: Drawings will not be returned.</em></p>
  </div>
</div>
<br>
</body>
