<div class="menu bg-pink-300 max-w-80 flex flex-col items-center justify-center font-inknut-antiqua font-bold underline text-2xl rounded-3xl">
  <a [routerLink]="['/characters']" class="bg-pink-100 flex flex-row items-center justify-center gap-2 rounded-full border-black border px-3 my-4">
    <img src="/images/hello-kitty/hello-kitty-love.gif" alt="Hello Kitty Love" class="w-20 h-auto">
    <p class="characters bg-white p-2 rounded-2xl">Characters</p>
  </a>
  <a [routerLink]="['/drawings']" class="bg-pink-100 flex flex-row items-center justify-center gap-2 rounded-full border-black border px-3 my-4">
    <img src="/images/pompurin/pompurin-2.gif" alt="Hello Kitty Love" class="w-20 h-auto">
    <p class="characters bg-white p-2 rounded-2xl">Drawings</p>
  </a>
  <a [routerLink]="['/gifs']" class="bg-pink-100 flex flex-row items-center justify-center gap-2 rounded-full border-black border py-2 px-5 my-4">
    <img src="/images/chococat/chococat-3.gif" alt="Hello Kitty Love" class="w-20 h-auto">
    <p class="characters bg-white p-2 px-6 rounded-2xl">Gifs</p>
  </a>
  <div class="bg-pink-100 flex flex-row items-center justify-center gap-2 rounded-full border-black border py-2 px-3 my-4">
    <img src="/images/little-twin-stars/little-twin-stars-1.gif" alt="Hello Kitty Love" class="w-20 h-auto">
    <p class="characters bg-white p-2 rounded-2xl">Products</p>
  </div>
  <div class="bg-pink-100 flex flex-row items-center justify-center gap-2 rounded-full border-black border py-2 px-3 my-4">
    <img src="/images/sanrio-characters.png" alt="Hello Kitty Love" class="w-20 h-auto">
    <p class="characters bg-white p-2 rounded-2xl">Club Sanrio</p>
  </div>
  <div class="self-start pl-6">
    <img src="/images/88butterflies.gif" alt="Hello Kitty Love" class="w-20 h-auto">
  </div>
  <div class="self-end pr-8">
    <img src="/images/hearts.gif" alt="Hello Kitty Love" class="w-40 h-auto">
  </div>
</div>
