<body>
  <br>
  <div class="flex flex-row ml-16 gap-48">
    <div class="sidebar">
      <app-the-sidebar/>
    </div>
    <div class="title ml-20 mt-20">
      <div class="flex flex-row items-center justify-center gap-16 mt-20">
        <img src="/images/my-melody-umbrella.gif" class="w-36 h-auto">
        <img src="/images/pochacco-1.gif" class="w-40 h-auto">
        <img src="/images/pompurin-4.gif" class="w-32 h-auto">
      </div>
      <div class="ml-64 my-5">
        <img src="/images/text.gif" class="w-96 h-auto">
      </div>
      <div class="flex flex-row items-center justify-center gap-16 ml-6">
        <img src="/images/hello-kitty-motorbike.gif" class="w-32 h-auto">
        <img src="/images/keroppi-singing.gif" class="w-40 h-auto">
        <img src="/images/sweet-piano-2.gif" class="w-32 h-auto">
      </div>
    </div>
  </div>
</body>
