body {
  background-image: url('https://i.pinimg.com/736x/ce/0d/87/ce0d8779f9725b3fef8cb8e208921ecb.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  width: 100vw;
  height: 100vh;
}

.title {
  background-color: #FFD8E7;
  border-radius: 50%;
  width: 880px;
  height: 670px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1536px) {
  .title {
    width: 680px;
    height: 370px;
  }

  body {
    width: auto;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .title {
    width: 480px;
  }
}
